<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Contact_Book.Properties.Settings.SqlPath" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Resources\Contact List.mdf&quot;;Initial Catalog=&quot;Contact List&quot;;Integrated Security=True;Enlist=True;Connect Timeout=30;TransparentNetworkIPResolution=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>